<span title="Last Print Tempeture">Last Print Temp</span>
<hr>
<span title="{{ _('Last recorded print temp1')|edq }}">{{ _('lastt') }}</span>: <strong data-bind="text: settings.plugins.LPT.lasttString"></strong><br>
<span title="This is a test"}|edq>{{ _('lastt') }}</span>: <strong data-bind="text: settings.plugins.LPT.lastt"></strong><br>

