<form class="form-horizontal">
    <div class="control-group">
        <label class="control-label">Delta T</label>
        <div class="controls">
            <input type="text" class="input-block-level" data-bind="value: settings.plugins.LPT.deltat">
        </div>

        <label class="control-label">Last Print Temp</label>
        <div class="controls">
            <input type="text" class="input-block-level" data-bind="value: settings.plugins.LPT.lastt">
        </div>
        
        <label class="control-label">Purge Code</label>
        <div class="controls">
            <input type="text" class="input-block-level" data-bind="value: settings.plugins.LPT.purgecode">
        </div>
        


    </div>
</form>