<span title="Last Print Tempeture">Last Print Temp</span>
<hr>
<span title="{{ _('Last recorded print temp') }}">{{ _('lastt') }}</span>: <strong data-bind="text: settings.plugins.LPT.lasttString"></strong><br>
<span title="{{ _('Last recorded print temp') }}">{{ _('lastt') }}</span>: <strong data-bind="text: settings.plugins.LPT.lastt"></strong><br>

