<span title="Last temp printed"|edq> Last Temp</span>: <strong data-bind="text: settings.plugins.LPT.lastt"></strong><br>
<span title="Temp difference to trigger purge"|edq> Delta T</span>: <strong data-bind="text: settings.plugins.LPT.deltat"></strong><br>
<span title="Last temp printed"|edq> Last Temp</span>: <strong data-bind="text: settings.plugins.LPT.lasttString"></strong><br>
<span title="Temp difference to trigger purge"|edq> Delta T</span>: <strong data-bind="text: settings.plugins.LPT.deltatString"></strong><br>
